$img: '../img/';

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1;
}

html { margin: 0; padding: 0; }
body {
    @extend html;
    min-width: 960px;
    background: url($img + 'header/header.png') top, url($img + 'footer/footer.png') bottom;
    background: {
        color: #99ccff;
        repeat: no-repeat;
        size: 100%;
    }
    font-family: sans-serif;
}

header {
    min-height: 615px;
    margin: 0 auto;
    .logo {
        height: 240px;
        position: relative;
        top: 30px;
        background: url($img + 'header/logo.png') no-repeat 50%;
        cursor: pointer;
    }
    .social {
        box-sizing: border-box;
        padding: 214px 0 0 56px;
        width: 265px;
        height: 250px;
        position: absolute;
        right: 0px;
        top: 15px;
        background: url($img + 'header/united.png') no-repeat 100% 0;
        a {
            display: inline-block;
            width: 44px;
            height: 44px;
            background: url($img + 'header/social-icons.png') no-repeat;
            &.facebook { background-position: 0 0; }
            &.twitter { background-position: -44px 0; }
            &.vkontakte { background-position: -88px 0; }
            &.instagram { background-position: -133px 0; }
        }
    }
}

section.middle {
    margin-top: -290px;
    .frame {
        margin: 0 auto;
        padding: {
            top: 250px;
            bottom: 102px;
        }
        width: 990px;
        position: relative;
        background-image: url($img + 'frame/harkov.png'), url($img + 'frame/footer.png');
        background: {
            position: top, bottom;
            size: 100%;
            repeat: no-repeat;
        }
        &.header-empty {
            padding-top: 102px;
        }
        &.seminar {
            background-image: url($img + 'frame/seminar.png'), url($img + 'frame/footer.png');
            margin-bottom: -170px;
            p {
                margin: 0;
                padding: 10px 30px 0 30px;
                text-align: justify;
                text-indent: 40px;
            }
        }
        .middle {
            padding: 0 70px;
            background: url($img + 'frame/middle.png') repeat 100%;
            .content {
                position: relative;
                #title {
                    padding-bottom: 10px;
                    text-align: center;
                    font: {
                        size: 25px;
                        weight: bold;
                    }
                    color: #4421FA;
                }
                #instagram {
                    .instagram-img {
                        box-sizing: border-box;
                        margin: 15px;
                        margin-bottom: 10px;
                        border: 5px solid white;
                        box-shadow: 0 0 4px #444;
                    }
                }
            }
        }
    }
    #past-list {
        width: 980px;
        margin: 0 auto;
        .concert {
            display: block;
            height: 80px;
            cursor: pointer;
            background-repeat: no-repeat;
            &.luhansk { background-image: url($img + 'list/luhansk.png'); }
            &.donetsk { background-image: url($img + 'list/donetsk.png'); }
            &.dnepropetrovsk { background-image: url($img + 'list/dnepropetrovsk.png'); }
            &.cherkassy { background-image: url($img + 'list/cherkassy.png'); }
            &.odessa { background-image: url($img + 'list/odessa.png'); }
            &.herson { background-image: url($img + 'list/herson.png'); }
            &.sevastopol { background-image: url($img + 'list/sevastopol.png'); }
        }
    }
}

footer {
    height: 460px;
    position: relative;
    .calendar {
        margin: 0 auto;
        width: 765px;
        height: 380px;
        position: relative;
        top: -10px;
        background: url($img + 'footer/calendar.png') 50% no-repeat;
        z-index: 1;
        a {
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 168px;
        }
    }
    .hover {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 175px;
        background: url($img + 'footer/hover.png');
        background-size: cover;
    }
    .organisation {
        position: absolute;
        bottom: 50px;
        left: 50px;
        width: 270px;
        height: 80px;
        background: url($img + 'footer/organisation.png');
    }
    .contacts {
        position: absolute;
        bottom: 27px;
        right: 25px;
        width: 300px;
        height: 120px;
        .contact {
            display: block;
            margin-top: 30px;
            color: #ffffff;
            font: {
                size: 22px;
                weight: bold;
            }
            .icon {
                display: inline-block;
                width: 70px;
                height: 60px;
                background: {
                    repeat: no-repeat;
                    position: 0 0;
                }
                &.email {
                    background-image: url($img + 'footer/contacts-email.png');
                }
                &.phone {
                    background-image: url($img + 'footer/contacts-phone.png');
                }
            }
            a {
                position: relative;
                top: -21px;
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}
